{% extends "layout.njk" %}
{% block content %}
<div class="hero">
    <div class="cards">

    </div>
    <div class="senaste">
        <div class="catagory">
            <h2>Senaste upplägg</h2>
        </div>
        <ul>
            {% for row in rows %}
            <li>
                <div class="msg">
                        <div class="link">
                            <div class="msg-title"><a class="stretched-link" href="/post/{{ row.id }}">{{ row.title }}</a></div>
                        </div> 
                    <div class="msg-content">
                        <p>By {{ row.name }}</p>
                        <p>{{ row.createdAt }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}
