<nav class="navbar container">
    <a href="/" class="logo"><img src="/images/logo.png" alt="Logo" class="logo"></a>
    <button class="navbar__button" onclick="changeImage()"><img src="/images/menuicon.svg" alt="icon" class="menuicon" id="logochange"></button>
    <div class="navbar__collapse">
        <ul class="menu">
            <li><a href="/">Hem</a></li>
            <li><a href="/new">Skapa ett inlägg</a></li>
            <li><a href="/login">Logga in</a></li>
        </ul>
    </div>
</nav>

