{% extends "layout.njk" %}
{% block content %}

<div class="postbackground">
    <form action="/new" method="post" class="border">
        <div class="inlagg">
            <select name="author" id="author">
                {% for user in users %}
                <option value="{{ user.name }}">{{ user.name }}</option>
                {% endfor %}
            </select>
            <label for="author">Författare</label>
        </div>
        <div class="inlagg">
            <input type="text" name="title" id="title">
            <label for="title">Titel</label>
        </div>
        <div class="inlagg">
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
            <label for="content">Innehåll</label>
        </div>
        <div class="inlagg">
            <button type="submit">Skicka</button>
        </div>
    </form>
</div>

{% endblock %}